asn1crypto==1.3.0
azure-common==1.1.25
azure-core==1.6.0
azure-storage-blob==12.3.2
boto3==1.13.26
botocore==1.16.26
certifi==2018.8.24
cffi==1.13.2
chardet==3.0.4
clang==6.0.0.2
cryptography==2.9.2
Cython==0.28.5
docutils==0.15.2
idna==2.7
ijson==2.6.1
inflection==0.3.1
isodate==0.6.0
javaproperties==0.5.0
Jinja2==2.11.2
jmespath==0.10.0
MarkupSafe==1.1.1
msrest==0.6.16
numpy==1.19.0
oauthlib==3.1.0
oscrypto==1.2.0
pandas==1.0.5
psycopg2==2.8.5
pycparser==2.20
pycryptodome==3.6.6
pycryptodomex==3.9.7
PyJWT==1.7.1
pyOpenSSL==19.1.0
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.1
requests==2.19.1
requests-oauthlib==1.3.0
s3transfer==0.3.3
six==1.11.0
snowflake-connector-python==2.2.7
snowflake-sqlalchemy==1.2.3
SQLAlchemy==1.3.17
urllib3==1.23
